html, body{
    width: 150%;
    height: 100%;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

header {
    width: 100%;
    background-color: aquamarine;
}

header ul{
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: space-evenly;
}

h1{
    font-weight: bold;
    font-size: 2.5rem;
}

h2{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;    
}

h3{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h4{
    font-weight: bold;
    font-size: 1rem;
}

formm{
    display: flex;
    flex-direction: column;
}

form input{
    margin-top: 0.5rem;
    height: 1.5rem;
    font-size: 1.2rem;

}

label{
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.horizontal{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.veertical{
    display: flex;
    flex-direction: column;
}

.item{
    padding: 2rem;
}

.formulario{
    dysplay: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.metade{
    width: 50%;
}

.equipes li{
    margin-bottom: 1rem;
    pading: 1rem;
    background-color: tomato;
}

.btn{
    height: 2rem;
}

#lista li{
    margin-bottom: 2rem;
}

.sci{
    display: block;
    height: 50%;
}

.split{
    width: 90%;
    justify-content: space-evenly;
}